*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 500vh;
    background-color: hsl(229, 68%, 94%);

}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap');

.parent {
    width: 40%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin: 200px auto; 
    background-color: white;
    border-radius: 25px;
    font-family: 'Hanken Grotesk', sans-serif;
    box-shadow: 0px 10px 20px rgba(0, 0, 255, 0.2); }


.child {
    background: linear-gradient(to right, hsl(228, 74%, 45%), hsl(228, 93%, 17%));
    width: 50%;
    color: white;
    border-radius: 25px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px; 
    margin: auto; 
    height: 768px;
}

.result{
    font-size: xx-large;
    padding-left: 200px;
    padding-top: 30px;
}


.figure {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, hsl(228, 81%, 42%), hsl(228, 93%, 39%));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    font-size: 3em;
   
    
}

.great h1 {
    margin: 0;
    font-size: 5em;
    text-align: center;
    /* text-align: justify; */
    
}

.great p {
    margin: 0;
    font-size: 24px;
    opacity: 0.8;
    text-align: center;
    /* text-align: justify; */

}

.great h2 {
    text-align: center; 
    padding-top: 20px; 
    margin: 0 auto; 
    font-size: 3rem;
    margin-top: 100px;

}
.result p{
    text-align: center;
    font-size: 1.9rem;
    margin-right: 175px;
    margin-top: -100px;
    color: rgb(207, 203, 203);
}
.wtf{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 2rem;
}
/* .memory{
    border: 1px solid black;
   width: 80%;
   gap: 20px;
   flex-direction: row;
   display: flex;
    
} */

.memory, .verbal , .visual, .reaction {
    display: flex;
    padding-left: 10%;
    margin-top: 60px;
    margin-left: 10px;
    
    
}
.memory span{
    padding-left: 50px;
    color:  hsl(39, 100%, 56%);
}

.memory{
    background:  hsl(39, 72%, 93%);
    border-radius: 25px;
    width: 90%;
    padding: 10px 15px;
    align-items: center;
}

.memory p{
    position: relative;
    left: 50px;
}

.memory p span{
    position: relative;
    right: 50px;
    color: gray;
}


.wtf img{
    width: 50px;
    height: 50px;
}
.verbal span{
    padding-left: 50px;
}
.verbal p{
    position: relative;
    left: 50px;
}


.verbal p span{
    position: relative;
    right: 50px;
    color: gray;
}

.visual span{
    padding-left: 50px;
}
.visual p{
    position: relative;
    left: 50px;
}

.visual p span{
    position: relative;
    right: 50px;
    color: gray;
}
.reaction span{
    padding-left: 50px;
}
.reaction p{
    position: relative;
    left: 50px;
}

.reaction p span{
    position: relative;
    right: 50px;
    color: gray;
}

.verbal{
    background:  hwb(166 85% 3%);
    border-radius: 25px;
    width: 90%;
    padding: 10px 15px;
    align-items: center;
}

.verbal span{
    padding-left: 50px;
    color:  hwb(166 44% 7%);}

    .visual{
        background: hsl(234, 67%, 88%);
        border-radius: 25px;
        width: 90%;
        padding: 10px 15px;
        align-items: center;
    }
    
    .visual span{
        padding-left: 50px;
        color:   hsl(234, 85%, 45%);}

        .reaction{
            background: hsl(0, 59%, 90%);
            border-radius: 25px;
            width: 90%;
            padding: 10px 15px;
            align-items: center;
        }
        
        .reaction span{
            padding-left: 50px;
            color:    hsl(0, 100%, 67%);}

            button{
                width: 60%;
                height: 60px;
                margin-top: 80px;
                margin-left: 80px;
                background-color: hsl(228, 60%, 30%);
                color: white;
                font-size: 2rem;
                border-radius: 30px;
            }
            .sum {
                margin-top: 30px;
                margin-left: 10px;
            }